main{
    min-width: 1280px;
}
.recommend_list_wrap{
    position: relative; text-align: center; width: 955px; height: 320px; margin: auto; margin-top: 50px;
    border-radius: 10px; background-color: #465550;

}
.recommend_list_item{text-align: left; position: relative; width: 270px; height: 320px; display: inline-block;}
.music_list_item{position: inherit; width: 496px; height: 320px; display: inline-block;}

.recommend_list_item .recommend_img {
    width: 190px; height: 190px; background-size: auto 100%; background-position: center;
background-repeat: no-repeat; border-radius: 10px; margin-top: 30px;
}
.recommend_list_item .recommend_title {
    font-family: 'Noto Sans KR'; font-size: 20px; font-weight: 500; margin-left: 5px; margin-top: 10px; color: #fff; width: 180px; line-height: 30px;
}
.recommend_list_item .artis_info {
    font-family: 'Noto Sans KR'; font-size: 20px; font-weight: 500; margin-left: 5px; margin-top: 10px; color: #fff; 
}

.recommend_title .music_count {
    font-family: 'Noto Sans KR'; font-size: 14px; font-weight: 300; margin-left: 5px; color: #fff;
    display: block; text-align: left;
}


.music_list{text-align: left; width: 590px; height: 320px;}

.music_detail_item {margin-top: 10px; display: inline-block;}

.music_list_detail a {
    text-decoration: none; font-family: 'Noto Sans KR'; color: #fff;
}

.music_list_detail .music_img {
    width: 50px; height: 50px; background-size: auto 100%;
    background-repeat: no-repeat; border-radius: 10px; display: inline-block;
}
.music_list_detail .music_name {
    width: 234px; margin-left: 5px;
    display: inline-block; vertical-align: top;
}
.music_list .music_list_detail{
    width: 293px; display: inline-block; max-height: 50px; margin-top: 15px;
}
.music_list_detail .artis_name{
    display:block; position: inherit; width: 100px; margin-top: 10px; color: rgba(255, 255, 255, 0.616);
    font-size: 13px;
}



.music_summary_list_section {width: 990px; text-align: left; margin:0 auto; padding: 20px 0px; 
    }
.music_summary_list_section > h1 {
    font-family: 'Noto Sans KR'; font-size: 24px; font-weight: 700; text-align: left; margin-top: 50px; margin-bottom: 30px;
}

.music_summary_item{
        text-decoration: none; font-family: 'Noto Sans KR'; color: rgba(102, 84, 84, 0.616);
    }
.music_summary_txt {display: inline-block;}
.music_summary_item .music_summary_name {
    line-height: 1.3; padding:5px 0; text-align: center; width: 100%;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis; box-sizing: border-box;
    padding:5px; color: #000;
}
.music_summary_item .music_summary_ainame {
    font-size: 12px; text-align: center; padding:3px;
}


.music_summary_item .music_summary_img {
    width: 175px; height: 175px; background-size: auto 100%; background-position: center;
    background-repeat: no-repeat; position: relative; display: inline-block; border-radius: 10px;
}

.music_summary_detail{width: 180px; display: inline-block; text-align-last: left; margin-left: 15px;} 

.music_summary_item .music_genre_name {
    font-size: 22px; text-align: center; padding:3px; font-weight: 700; width: 175px; color: #000;
}

.music_summary_item .album_name{
    font-size: 22px; color: #000;
}

.main_banner {
    width: 955px; margin: 0 auto; height: 393px;
}
.main_banner .swiper-slide img {
    margin-left: 230px;
}
.main_banner .swiper-button-prev {
    left: 0px; filter:grayscale(1) brightness(10) drop-shadow(2px 2px 5px rgba(0,0,0,0.3));
}
.main_banner .swiper-button-next {
    right: 0px; filter:grayscale(1) brightness(10) drop-shadow(2px 2px 5px rgba(0,0,0,0.3));
}

.recommend_list_wrap.second{background-color: #444e62;}
.recommend_list_wrap.third{background-color: #674d45;}
.recommend_list_wrap.fourth{background-color: #61484b;}
.recommend_list_wrap.fifth{background-color: #4c4863;}