<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.cocom_service.mapper.BasicMapper">
<select id="selectMusicDetail" resultType="com.greenart.cocom_service.data.MusicDetailVO">
    select a.*,b.ai_name,c.ab_name ,c.ab_seq,c.ab_img_file  from music_info a inner join artist_info b
on a.mu_ai_seq = b.ai_seq left outer join album_info c
on a.mu_ab_seq = c.ab_seq 
where a.mu_seq = #{seq}
</select>
<select id="selectAlbumDetail" resultType="com.greenart.cocom_service.data.AlbumDetailVO">
select * from music_info a inner join album_info b 
on a.mu_ab_seq = b.ab_seq inner join release_company_info c 
on b.ab_rci_seq = c.rci_seq inner join enter_info d 
on b.ab_ent_seq = d.ent_seq 
where ab_seq = #{seq}
</select>
</mapper>