<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.cocom_service.mapper.MemberMapper">
    <select id="login" resultType="com.greenart.cocom_service.data.MemberInfoVO">
        SELECT mi_seq, mi_id, mi_pwd, mi_name, mi_birth, mi_addr, mi_role, mi_profile_img, mi_nickname, mi_ip, mi_reg_dt, mi_mod_dt, mi_status, mi_use, mi_alim, mi_ps_seq, mi_phone, mi_gen
        FROM member_info
        WHERE mi_id=#{mi_id} and mi_pwd =#{mi_pwd}
    </select>

    <insert id="joinMember" parameterType="com.greenart.cocom_service.data.MemberInfoVO"
    useGeneratedKeys="true" keyProperty="mi_seq">
        INSERT INTO member_info
            (mi_id, mi_pwd, mi_name, mi_birth, mi_addr, mi_role, mi_profile_img, mi_nickname, mi_gen,
            mi_status, mi_use, mi_alim, mi_phone)
        VALUES
            (#{mi_id}, #{mi_pwd}, #{mi_name}, #{mi_birth}, #{mi_addr}, #{mi_role}, #{mi_profile_img}, #{mi_nickname},
            #{mi_gen}, #{mi_status}, #{mi_use},#{mi_alim}, #{mi_phone})
    </insert>

    <insert id="insertMemberInfoToArtist" parameterType="com.greenart.cocom_service.data.ArtistInfoVO"
    useGeneratedKeys="true" keyProperty="ai_seq">
        INSERT INTO artist_info (ai_name, ai_img_file, ai_debut_dt, ai_mi_seq)
        VALUES (#{ai_name}, #{ai_img_file}, now(), #{ai_mi_seq})
    </insert>

    <select id="isDuplicatedId" resultType="java.lang.Integer">
        select count(*) from member_info where mi_id = #{id}
    </select>
    <select id="isDuplicatePhone" resultType="java.lang.Integer">
        select count(*) from member_info where mi_phone = #{phone_no}
    </select>
    <select id="IsDuplicateCheck" resultType="java.lang.Integer">
        select count(*) from member_info where mi_id = #{id}
    </select>
    <select id="selectMemberInfo" resultType="com.greenart.cocom_service.data.MemberInfoVO">
        select * from member_info
    </select>
    <select id="selectMemberInfoBySeq" resultType="com.greenart.cocom_service.data.MemberInfoVO">
        SELECT mi_seq,mi_id, mi_pwd, mi_name, mi_birth, mi_addr, mi_role, mi_profile_img, mi_nickname, mi_reg_dt, mi_status, mi_use, mi_alim, mi_ps_seq, mi_gen, mi_phone
        FROM member_info
        WHERE mi_seq= #{user_no};
    </select>
    <update id="updateMemberInfos">
        UPDATE member_info
        SET mi_pwd=#{mi_pwd}, mi_addr=#{mi_addr}, mi_role=#{mi_role}, mi_profile_img=#{mi_profile_img}, mi_nickname=#{mi_nickname}, mi_alim=#{mi_alim}, mi_ps_seq=#{mi_ps_seq}, mi_phone=#{mi_phone} , mi_mod_dt=now()
        WHERE mi_seq=#{mi_seq}
    </update>
    <update id="deleteProfileImg">
        update member_info
        set mi_profile_img = '' where mi_seq = #{seq}
    </update>
    <select id="selectMemberAndArtistInfo" resultType="com.greenart.cocom_service.data.MemberAndArtistVO">
        select a.mi_seq,a.mi_id,a.mi_name,b.ai_seq ,b.ai_name ,b.ai_cr_seq  from member_info a left outer join artist_info b
        on a.mi_seq = b.ai_mi_seq
        where mi_seq = #{seq}
    </select>
    <select id="selectGenreInfos" resultType="com.greenart.cocom_service.data.GenreInfo">
        select * from genre_info
    </select>
</mapper>
